root{--strong-color: #00b100;}
html, body{
    margin: 0;
    padding: 0;
    color: #323232;
    box-sizing: border-box;
}
header video{
    max-width: 100%;
    max-height: 100%;
    z-index: -100;
    position: fixed;
    background-size: cover;
    transition: 1s opacity;
}
header img{
    margin-top: 100vh;
}
section{
    position: absolute;
}
.strong{
    color: #00b100;
}
